---
import MainLayout from "../layouts/MainLayout.astro";
import KontaktFormular from "../components/KontaktFormular.astro";
import Video from "../components/Video.astro";
---

<MainLayout title="Manden bag">
    <section class="citat">
      <article>
        <h1>Manden bag</h1>
      </article>
    </section>
<section class="manden_bag">
    <article class="om">
        <img src="/img/torsten-frame.webp" alt="Et billede af ejeren af Kanonproduktion Torsten Gutterman">
         <div class="line"></div>
            <div class="om_tekst">
                <div class="citat2">
                    <span>"</span>
                    <div class="tekst">
                       <p>Jeg har ikke tænkt mig at stoppe</p>
                    <p>-Torsten Gutterman</p> 
                    </div>
            </div>
                <p>Mit navn er Torsten og jeg er manden bag Kanonproduktion.
                  Jeg er 56 år gammel, men har ikke tænkt mig at stoppe.</p>
                 <p>Selvom det godt kan se sådan ud, så har jeg ikke altid arbejdet i dette fag, og det lå faktisk heller ikke i kortene. Da min far var landmand i Slagelse lå det nok mere til højrebenet, at det var landmand jeg skulle være, og tog også en landmandsuddannelse - men det var nu ikke helt min fars 180 grise og 200 tønder land der trak så forfærdeligt meget i mig.</p> 
                 <p> Jeg startede derfor inden for denne branche med at lave lokal radio og derefter startede Kanonproduktion i 2001. </p>
        </div>
    </article>
</section>

<section class="manden">
    <article class="om">
        <div class="om_tekst">
            <div class="citat2 blue">
                <span>"</span>
                <div class="tekst">
                   <p>Kanonproduktion er i konstant bevægelse</p>
                <p>-Torsten Gutterman</p> 
                </div>
        </div>
            <p>Når vi får en ide, så skal den føres ud i verden, det er netop derfor min passion er så stor for Kanonproduktion.
              Vi har gennem årene hjulpet kunder, store som små med at føre deres ideer ud i livet og vil blive ved med at gøre det de næste mange år.</p>
              <p>Vi sætter en stor ære i at skabe lige præcis det DU gerne vil have og elsker at høre alle de ideer folk har til events, shows, koncerter eller noget helt fjerde - derfor er vores kunder og samarbejdspartnere dem der er i fokus 100%, når vi arbejder på at skabe noget fedt sammen.</p>
    </div>
    <div class="line"></div>
    <img src="/img/instrumenter-frame.webp" alt="">
    </article>
</section>
<section class="kontakt">
    <h2>Kontakt os</h2>
    <KontaktFormular></KontaktFormular>
</section>
</MainLayout>

<script>
	import { gsap } from "gsap";
    
	import { ScrollTrigger } from "gsap/ScrollTrigger";

  //Web + iPad
  // create
  let mm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  mm.add("(min-width: 431px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);

  gsap.from(".manden_bag", {
	scrollTrigger: {
		scrub: true,
		trigger: ".citat",
		start: "-400 start",
		end: "500 center",
		// markers: true,
	},
	opacity:0.2,
	duration:0.5,
	}); 


  gsap.from(".manden", {
	scrollTrigger: {
		scrub: true,
		trigger: ".manden_bag",
		start: "200 start",
		end: "900 center",
		// markers: true,
	},
	opacity:0.2,
	duration:0.5,
	}); 

  gsap.from(".kontakt", {
	scrollTrigger: {
		scrub: true,
		trigger: ".manden",
		start: "200 start",
		end: "800 center",
		 // markers: true,
	},
	opacity:0.2,
	duration:0.5,
	}); 

});

  //iPhone
  // create
  let sm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  sm.add("(max-width: 430px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);
	
	gsap.from(".manden_bag", {
	scrollTrigger: {
		scrub: true,
		trigger: ".citat",
		start: "-300 start",
		end: "800 center",
		 //markers: true,
	},
	opacity:0.2,
	duration:0.5,
	}); 

  gsap.from(".video", {
	scrollTrigger: {
		scrub: true,
		trigger: ".manden_bag",
		start: "100 start",
		end: "1200 center",
		// markers: true,
	},
	opacity:0.2,
	duration:0.5,
	});  

  gsap.from(".manden", {
	scrollTrigger: {
		scrub: true,
		trigger: ".video",
		start: "-200 start",
		end: "1000 center",
		// markers: true,
	},
	opacity:0.2,
	duration:0.5,
	}); 

  gsap.from(".kontakt", {
	scrollTrigger: {
		scrub: true,
		trigger: ".manden",
		start: "0 start",
		end: "1000 center",
		// markers: true,
	},
	opacity:0.2,
	duration:0.5,
	});

});
</script>

<style>

  img {
    width: 100%;
    height: auto;
  }
    article{
		padding-inline: var(--gap11);
	}

	section {
		margin-top: 80px;
		margin-bottom: 80px;
	}

.manden_bag {
		padding-top: 0px;
	}

    .line {
		border-left: 2px solid var(--color-background-stroke);
		height: 679px;
	}

    .om {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
	justify-content: center;
	align-items: center;

	padding: 0px var(--gap11);
	gap: var(--gap13);
  }

  .citat2 span{
    color: var(--color-text-h3-secondary);
    font-size: 102.019px;
    font-weight: 800;
  }

  .citat2 p {
    color: var(--color-text-h3-secondary);
    font-size: 27.64px;
    font-weight: 900;
  }

  .tekst {
    padding: var(--gap2);
  }

  .citat2 {
    display: flex;
    gap: var(--gap2);
  }

  .om_tekst p {
    width: 510px;
  }

  .om_tekst {
    display: flex;
    flex-direction: column;
    gap: var(--gap8);
  }

  .citat1 {
    display: flex;
	justify-content: center;

    padding-block: var(--gap7);
    border-top: 2px solid var(--color-background-stroke);
    border-bottom: 2px solid var(--color-background-stroke);
  }

  .video h2 {
    display: flex;
	justify-content: center;

    padding-block: var(--gap7);
    border-top: 2px solid var(--color-background-stroke);
    border-bottom: 2px solid var(--color-background-stroke);
  }

  .videoen {
		padding-top: 40px;
  }

  .manden_bag h2 {
    display: flex;
	justify-content: center;

    padding-block: var(--gap7);
    border-top: 2px solid var(--color-background-stroke);
    border-bottom: 2px solid var(--color-background-stroke);

  }

  .manden h2 {
    display: flex;
	justify-content: center;

    padding-block: var(--gap7);
    border-top: 2px solid var(--color-background-stroke);
    border-bottom: 2px solid var(--color-background-stroke);

  }

  .kontakt h2 {
    display: flex;
	justify-content: center;

    padding-block: var(--gap7);
    border-top: 2px solid var(--color-background-stroke);
    border-bottom: 2px solid var(--color-background-stroke);

  }

  .blue span {
    color: var(--color-text-h2-tertiary);
  }

  .blue p {
    color: var(--color-text-h2-tertiary);
  }

  @media (max-width: 1024px) {

    h1{
		padding-inline: var(--gap6);
	}
    article{
		padding-inline: var(--gap6);
	}

  .line {
    display: none;
  }

  .om {
    display: flex;
    flex-direction: column;
    padding: 0px var(--gap6);
  }
  }

  @media (max-width:430px) {

    section {
		margin-top: 60px;
		margin-bottom: 60px;
	}

    h1{
		padding-inline: var(--gap4);
	}
    article{
		padding-inline: var(--gap4);
	}

  .videoen {
		padding-top: 30px;
  }

  .om {
    display: flex;
    flex-direction: column;
    padding: 0px var(--gap4);

    gap: var(--gap8);
  }
    .om_tekst p {
    width: 326px;
  }

  .tekst p {
    width: 284px;
  }

  .citat2 span{
    font-size: 64.412px;
  }

  .citat2 p {
    font-size: 13.33px;
  }

  }
</style>