---
import MainLayout from "../layouts/MainLayout.astro";
import KontaktFormular from "../components/KontaktFormular.astro";
import Video from "../components/Video.astro";
---

<MainLayout title="Manden bag">
    <section class="citat">
      <article>
        <h1>Manden bag</h1>
      </article>
        <article class="citat1">
            <h2>"Livet, stemningen, menneskerne"</h2>
        </article>
    </section>
<section class="manden_bag">
    <article class="om">
        <img src="/img/torsten-frame.webp" alt="">
         <div class="line"></div>
            <div class="om_tekst">
                <div class="citat2">
                    <span>"</span>
                    <div class="tekst">
                       <p>Lorem ipsum</p>
                    <p>-Torsten Gutterman</p> 
                    </div>
            </div>
                <p>Vi er et firma der tilbyder professionelle skræddersyet løsninger i underholdningsbranchen. 
                Vi arbejder projektorienteret med artister, events og færdig produktion af radiobroadcast og liveoptræden. Kanonproduktion </p>
        </div>
    </article>
</section>
<section class="video">
    <h2>Placeholder intro</h2>
    <Video></Video>
</section>
<section class="manden">
    <h2>Placeholder intro</h2>
    <article class="om">
        <div class="om_tekst">
            <div class="citat2 blue">
                <span>"</span>
                <div class="tekst">
                   <p>Lorem ipsum</p>
                <p>-Torsten Gutterman</p> 
                </div>
        </div>
            <p>Vi er et firma der tilbyder professionelle skræddersyet løsninger i underholdningsbranchen. 
            Vi arbejder projektorienteret med artister, events og færdig produktion af radiobroadcast og liveoptræden. Kanonproduktion </p>
    </div>
    <div class="line"></div>
    <img src="/img/uffe_holm.webp" alt="">
    </article>
</section>
<section class="kontakt">
    <h2>Kontakt os</h2>
    <KontaktFormular></KontaktFormular>
</section>
</MainLayout>

<script>
	import { gsap } from "gsap";
    
	import { ScrollTrigger } from "gsap/ScrollTrigger";

  //Web + iPad
  // create
  let mm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  mm.add("(min-width: 431px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);
	
	gsap.from(".citat", {
	scrollTrigger: {
		scrub: true,
		trigger: ".citat",
		start: "-300 start",
		end: "500 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

  gsap.from(".manden_bag", {
	scrollTrigger: {
		scrub: true,
		trigger: ".citat",
		start: "-300 start",
		end: "700 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

  gsap.from(".video", {
	scrollTrigger: {
		scrub: true,
		trigger: ".manden_bag",
		start: "50 start",
		end: "1200 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	});  

  gsap.from(".manden", {
	scrollTrigger: {
		scrub: true,
		trigger: ".video",
		start: "600 start",
		end: "1500 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

  gsap.from(".kontakt", {
	scrollTrigger: {
		scrub: true,
		trigger: ".manden",
		start: "200 start",
		end: "1500 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

});

  //iPhone
  // create
  let sm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  sm.add("(max-width: 430px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);
	
	gsap.from(".booking", {
	scrollTrigger: {
		scrub: true,
		trigger: ".booking",
		start: "-100 start",
		end: "800 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

  gsap.from(".faq", {
	scrollTrigger: {
		scrub: true,
		trigger: ".button",
		start: "-500 start",
		end: "500 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

  gsap.from(".testimonials", {
	scrollTrigger: {
		scrub: true,
		trigger: ".faq",
		start: "200 start",
		end: "1200 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	});  

  gsap.from(".kontakt", {
	scrollTrigger: {
		scrub: true,
		trigger: ".testimonials",
		start: "-100 start",
		end: "1000 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

});
</script>

<style>

  img {
    width: 100%;
    height: 100%;
  }
    article{
		padding-inline: var(--gap11);
	}

  h1 {
    padding-bottom: 74px;
  }

	section {
		padding-block: 74px;
	}

    .line {
		border-left: 2px solid var(--color-background-stroke);
		height: 679px;
	}

    .om {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
	justify-content: center;
	align-items: center;

	padding: 0px var(--gap11);
	gap: var(--gap13);
  }

  .citat2 span{
    color: var(--color-text-h3-secondary);
    font-size: 102.019px;
    font-weight: 800;
  }

  .citat2 p {
    color: var(--color-text-h3-secondary);
    font-size: 27.64px;
    font-weight: 900;
  }

  .tekst {
    padding: var(--gap2);
  }

  .citat2 {
    display: flex;
    gap: var(--gap2);
  }

  .om_tekst p {
    width: 510px;
  }

  .om_tekst {
    display: flex;
    flex-direction: column;
    gap: var(--gap8);
  }

  .citat1 {
    display: flex;
	justify-content: center;

    padding-block: var(--gap7);
    border-top: 2px solid var(--color-background-stroke);
    border-bottom: 2px solid var(--color-background-stroke);
  }

  .video h2 {
    display: flex;
	justify-content: center;

    padding-block: var(--gap7);
    border-top: 2px solid var(--color-background-stroke);
    border-bottom: 2px solid var(--color-background-stroke);
  }

  .manden_bag h2 {
    display: flex;
	justify-content: center;

    padding-block: var(--gap7);
    border-top: 2px solid var(--color-background-stroke);
    border-bottom: 2px solid var(--color-background-stroke);

    margin-bottom: 74px;
  }

  .manden h2 {
    display: flex;
	justify-content: center;

    padding-block: var(--gap7);
    border-top: 2px solid var(--color-background-stroke);
    border-bottom: 2px solid var(--color-background-stroke);

    margin-bottom: 74px;
  }

  .kontakt h2 {
    display: flex;
	justify-content: center;

    padding-block: var(--gap7);
    border-top: 2px solid var(--color-background-stroke);
    border-bottom: 2px solid var(--color-background-stroke);

    margin-bottom: 74px;
  }

  .blue span {
    color: var(--color-text-h2-tertiary);
  }

  .blue p {
    color: var(--color-text-h2-tertiary);
  }

  @media (max-width: 1024px) {

    h1{
		padding-inline: var(--gap6);
	}
    article{
		padding-inline: var(--gap6);
	}

  .line {
    display: none;
  }

  .om {
    display: flex;
    flex-direction: column;
    padding: 0px var(--gap6);
  }
  }

  @media (max-width:430px) {

    h1{
		padding-inline: var(--gap4);
	}
    article{
		padding-inline: var(--gap4);
	}

  .om {
    display: flex;
    flex-direction: column;
    padding: 0px var(--gap4);

    gap: var(--gap8);
  }
    .om_tekst p {
    width: 326px;
  }

  .tekst p {
    width: 284px;
  }

  .citat2 span{
    font-size: 64.412px;
  }

  .citat2 p {
    font-size: 13.33px;
  }

  }
</style>