---
import MainLayout from "../layouts/MainLayout.astro";
import KontaktFormular from "../components/KontaktFormular.astro";
import Video from "../components/Video.astro";
---
<section class="manden_bag">
    <h1>Manden bag</h1>
    <h2></h2>
    <article class="om">
        <img src="" alt="">
        <div class="om_tekst">
            <div class="citat">
                <p></p>
                <p></p>
            </div>
            <div class="tekst">
                <p></p>
            </div>
        </div>
    </article>
</section>
<section class="video">
    <h2></h2>
    <Video></Video>
</section>
<section class="manden_bag">
    <h2></h2>
    <article class="om">
        <div class="om_tekst">
            <div class="citat">
                <p></p>
                <p></p>
            </div>
            <div class="tekst">
                <p></p>
            </div>
        </div>
        <img src="" alt="">
    </article>
</section>
<section class="kontakt">
    <h2></h2>
    <KontaktFormular></KontaktFormular>
</section>