---
import MainLayout from "../layouts/MainLayout.astro";
import ArtistCard from "../components/ArtistCard.astro";
---
<section class="intro">
    <h1></h1>
    <div class="sti"></div>
</section>
<section class="artister">
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
    <ArtistCard></ArtistCard>
</section>