---
//Lav variablen "url" med vores URL fra supabase
const url = "https://muqgfdguddfkghqhbdai.supabase.co/rest/v1/kanonproduktion_artister";

//Lav variablen "api" med vores api nøgle
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cWdmZGd1ZGRma2docWhiZGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3NTI1MjcsImV4cCI6MjAzMDMyODUyN30.V1cmTeBITytZYDHSYEemvpkdSObU40QtSWsIqANjXBY";

//Lav variablen "data" som venter på url fetchet med GET metode
//API nøgle godkener adgang
const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());
//Dataen bliver hentet som JSON-fil

import MainLayout from "../layouts/MainLayout.astro";
import ArtistCard from "../components/ArtistCard.astro";
import Sti from "../components/Sti.astro";
---
<MainLayout title="Artister">
<section class="intro">
  <article>
    <div class="text">
    <h1>Artister</h1>
    <h3>Se de skønne artister vi samarbejder med.</h3>
</div>
    <div class="sti">
      <div class="kommende">
          <a href="/events">Kommende events</a>
      </div>
      <div class="tidligere">
          <a href="/tidligere">Tidligere events</a>
      </div>
      <div class="artister">
          <a href="/artister">Artister</a>
      </div>
  </div>
  </article>
</section>
<article class="artister">
    {data.map((person) => 
    <ArtistCard 
    image={`/img/${person.image}`} 
    name={person.name} 
    face={person.facebook} 
    insta={person.instagram}/>)}
</article>
</MainLayout>

<style>

  article {
    padding-inline: var(--gap11);
  }
  
  section {
    padding-block: 74px;
    }

    .artister {
		display: flex;
    flex-wrap: wrap;
		column-gap: var(--gap6);
    row-gap: var(--gap7);
		justify-content: space-between;
    padding-block: var(--gap7);
	}

  .text {
        display: flex;
        flex-direction: column;
        gap: 24px;

        padding-bottom: var(--gap7);
    }

    .text h3 {
        font-size: 27.64px;
        font-weight: 400;
    }

    a {
        font-size: var(--Label-large);
        font-weight: 900;
        color: var(--color-text-body);
        outline-style: solid;
        outline-color: var(--color-background-stroke);
        outline-width: 2px;

        display: flex;
        padding: var(--gap3) var(--gap2);
        justify-content: center;
        align-items: center;
    }

    a:hover {
        color: var(--color-background-button-hover);
        background-color: var(--color-background-stroke);
        outline-style: solid;
        outline-color: var(--color-background-stroke);
        outline-width: 2px;
    }
    
    .sti{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--gap3);
    }

    .artister a {
        background-color: var(--color-background-button-secondary);
        outline-style: solid;
        outline-color: var(--color-background-button-secondary-stroke);
        outline-width: 2px;
        color: var(--color-background-button-hover);
    }

    .artister a:hover {
        background-color: var(--color-button-primary);
        color: var(--color-background-button-secondary);
        outline-style: solid;
        outline-color: var(--color-background-button-secondary);
        outline-width: 2px;
    }

    /* @media (min-width: 1513px){
      .artister {
        column-gap: var(--gap11);
      }
}

    @media (max-width: 1450px){
      .artister {
        column-gap: var(--gap11);
      }
} */

    @media (max-width: 1024px) {
      article {
        padding-inline: var(--gap6);
      }
      .artister{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

    @media (max-width: 430px) {
      article {
        padding-inline: var(--gap4);
      }
      .artister {
        column-gap: var(--gap3);
      }
      a {
        font-size: var(--Label-small);
      }
}
</style>