---
//Lav variablen "url" med vores URL fra supabase
const url = "https://muqgfdguddfkghqhbdai.supabase.co/rest/v1/kanonproduktion_artister";

//Lav variablen "api" med vores api nøgle
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cWdmZGd1ZGRma2docWhiZGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3NTI1MjcsImV4cCI6MjAzMDMyODUyN30.V1cmTeBITytZYDHSYEemvpkdSObU40QtSWsIqANjXBY";

//Lav variablen "data" som venter på url fetchet med GET metode
//API nøgle godkener adgang
const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());
//Dataen bliver hentet som JSON-fil

import MainLayout from "../layouts/MainLayout.astro";
import ArtistCard from "../components/ArtistCard.astro";
import Sti from "../components/Sti.astro";
---
<MainLayout>
<section class="intro">
    <h1>Artister</h1>
    <h3>Se de skønne artister vi samarbejder med.</h3>
<Sti></Sti>
</section>
<section class="artister">
    {data.map((person) => <ArtistCard image={`/img/${person.image}`} name={person.name} face={person.facebook} insta={person.instagram}/>)}
</section>
</MainLayout>

<style>
    section {
        padding-inline: var(--gap11);
        padding-bottom: var(--gap11);
    }
    .artister{
        display: flex;
margin-inline: auto;
justify-content: center;
align-items: center;
align-content: center;
gap: 1.875rem;
flex-shrink: 0;
flex-wrap: wrap;
padding-top: 2rem;
    
    }

    h1{
      padding-top: var(--gap11);
      padding-left: var(--gap11);
    }

    h3{
        font-weight: 400;
        padding-bottom: var(--gap11);
        padding-top: var(--gap8);
        padding-left: var(--gap11);
    }

    @media (max-width: 1024px) {
        .artister{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    h1{
      font-size: var(--Headline1-medium);
      padding-left: 0rem;
    }

    h3{
      font-size: var(--Headline3-medium);
      padding-left: 0rem;
    }
    }

    @media (max-width: 430px) {
    h1{
      font-size: var(--Headline1-small);
      padding-left: 0rem;
    
    }

    h3{
      font-size: var(--Headline4-small);
      padding-left: 0rem;
    }
    }
</style>