---
import MainLayout from "../layouts/MainLayout.astro";
import Faq from "../components/Faq.astro";
import TestimonialsSlider from "../components/TestimonialsSlider.astro";
import KontaktFormular from "../components/KontaktFormular.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Booking & promoting">
<section class="booking">
  <article>
    <h1>Booking og promoting</h1>
  </article>
  <article class="om">
  <div class="indhold">
    <div class="tekst">
    <h2>Skal vi stå for din næste optræden?</h2>
    <p>Hos Kanonproduktion stræber vi efter at du får den bedste oplevelse, derfor behøver du ikke løfte en finger, du skal bare komme og gøre det du gør bedst - så gør vi nemlig det samme ;)
      Vi tager personligt hånd om alt - fra planlægning og koordinering til udførelse.
      Så uanset om i repræsentere et firma, er en privatperson eller artist, skræddersyer vi hos Kanonproduktion hvert arrengement efter jeres behov og ønsker.
      <br>
      <br>
      Lad os gøre jeres næste arrangement til en uforglemmelig oplevelse!</p>
      </div>
      <div class="button large">
      <Button size="lg" link="/kontakt" variant="secondary">Læs mere</Button>
      </div>
      <div class="button small">
        <Button size="sm" link="/kontakt" variant="secondary">Læs mere</Button>
        </div>
  </div>
  <img src="/img/uffe_holm.webp" alt="">
  </article>
</section>
<section class="faq">
    <h2>Faq</h2>
    <article class="FAQ">
    <Faq></Faq>
</article>
</section>
<section class="testimonials">
 <h2>Hvad artisterne siger</h2>
 <article class="testimonial">
  <TestimonialsSlider></TestimonialsSlider>
 </article>
  </section>
  <section class="kontakt">
    <h2>Kontakt os</h2>
    <article class="kontaktform">
    <KontaktFormular></KontaktFormular>
    </article>
  </section>
</MainLayout>

<script>
	import { gsap } from "gsap";
    
	import { ScrollTrigger } from "gsap/ScrollTrigger";

  //Web + iPad
  // create
  let mm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  mm.add("(min-width: 431px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);
	
	gsap.from(".om", {
	scrollTrigger: {
		scrub: true,
		trigger: ".booking",
		start: "-250 start",
		end: "500 center",
		 //markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

  gsap.from(".faq", {
	scrollTrigger: {
		scrub: true,
		trigger: ".button",
		start: "-600 start",
		end: "500 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

  gsap.from(".testimonials", {
	scrollTrigger: {
		scrub: true,
		trigger: ".faq",
		start: "0 start",
		end: "1200 center",
		//markers: true,
	},
	opacity:0,
	duration:0.5,
	});  

  gsap.from(".kontakt", {
	scrollTrigger: {
		scrub: true,
		trigger: ".testimonials",
		start: "-200 start",
		end: "1000 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

});

  //iPhone
  // create
  let sm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  sm.add("(max-width: 430px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);
	
	gsap.from(".booking", {
	scrollTrigger: {
		scrub: true,
		trigger: ".booking",
		start: "-300 start",
		end: "800 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

  gsap.from(".faq", {
	scrollTrigger: {
		scrub: true,
		trigger: ".button",
		start: "-500 start",
		end: "500 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

  gsap.from(".testimonials", {
	scrollTrigger: {
		scrub: true,
		trigger: ".faq",
		start: "200 start",
		end: "1200 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	});  

  gsap.from(".kontakt", {
	scrollTrigger: {
		scrub: true,
		trigger: ".testimonials",
		start: "-100 start",
		end: "1000 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

});
</script>

<style>
  	article{
		padding-inline: var(--gap11);
	}

  .testimonial {
    padding-inline: 0px;
  }

  .kontaktform {
    padding-inline: 0px;
  }

  h1 {
    padding-bottom: 74px;
  }

	section {
		padding-block: 74px;
	}

  .line {
		border-left: 2px solid var(--color-background-stroke);
		height: 679px;
	}

  .om {
    display: grid;
    grid-template-columns: 2fr 2fr;
		justify-content: center;
		align-items: center;

		padding: 0px var(--gap11);
		gap: var(--gap13);
  }

  img {
    width: 100%;
    height: auto;
  }

  .faq h2 {
		display: flex;
		justify-content: center;

    padding-block: var(--gap7);
		border-top: 2px solid var(--color-background-stroke);
		border-bottom: 2px solid var(--color-background-stroke);
  }

  .testimonials h2 {
		display: flex;
		justify-content: center;

    padding-block: var(--gap7);
		border-top: 2px solid var(--color-background-stroke);
		border-bottom: 2px solid var(--color-background-stroke);
  }

  .kontakt h2 {
		display: flex;
		justify-content: center;

    padding-block: var(--gap7);
		border-top: 2px solid var(--color-background-stroke);
		border-bottom: 2px solid var(--color-background-stroke);
  }

  .tekst h2{
    color: var(--color-text-h2-secondary);
    padding-bottom: 30px;
  }

  .tekst p {
    padding-bottom: 90px;
  }

  .tekst > * {
    width: 576px;
  }

  .button {
    display: flex;
    width: 800px;
    height: 3px;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 2px solid var(--color-background-stroke);
  }

  .small {
    display: none;
  }

  .indhold {
    height: 705px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right:  2px solid var(--color-background-stroke);
  }

  @media (max-width: 1024px) {
    article{
		padding-inline: var(--gap6);
	}

  .om {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

		padding: 0px 0px;
		gap: var(--gap13);
  }

  .tekst {
    padding-inline: var(--gap6);
  }

  .tekst > * {
    width: 40rem;
  }

  .indhold {
    height: auto;
    border-right: none;
    width: 100%;
  }

  .button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-bottom: 2px solid var(--color-background-stroke);
  }
  }

  @media (max-width: 430px) {
    article{
		padding-inline: var(--gap4);
	}

  .tekst > * {
    width: 20rem;
  }

  .large {
    display: none;
  }
  
  .small {
    display: flex;
  }
  }
</style>