---
import MainLayout from "../layouts/MainLayout.astro";
import Faq from "../components/Faq.astro";
import TestimonialsSlider from "../components/TestimonialsSlider.astro";
import TestimonialsStar from "../components/TestimonialsStar.astro";
import KontaktFormular from "../components/KontaktFormular.astro";
---
<section class="booking">
  <h1></h1>
  <div class="tekst">
    <h2></h2>
    <p></p>
    <button></button>
  </div>
  <img src="" alt="">
</section>
<section class="faq">
    <h2></h2>
    <Faq></Faq>
</section>
<section class="testimonials">
 <h2></h2>
 <TestimonialsSlider></TestimonialsSlider>
  </section>
  <section class="kontakt">
    <h2></h2>
    <KontaktFormular></KontaktFormular>
  </section>