---
import MainLayout from "../layouts/MainLayout.astro";
import EventCard from "../components/EventCard.astro";
---
<section class="intro">
    <h1></h1>
    <h3></h3>
    <div class="sti"></div>
</section>
<section class="juni">
    <h2></h2>
    <div class="artister">
        <EventCard></EventCard>
        <EventCard></EventCard>
        <EventCard></EventCard>
    </div>
</section>
<section class="juli">
    <h2></h2>
    <div class="artister">
        <EventCard></EventCard>
        <EventCard></EventCard>
    </div>
</section>
<section class="august">
    <h2></h2>
    <div class="artister">
        <EventCard></EventCard>
        <EventCard></EventCard>
        <EventCard></EventCard>
    </div>
</section>