---
import MainLayout from "../layouts/MainLayout.astro";
import EventCard from "../components/EventCard.astro";
---
<section class="intro">
    <h1>Events</h1>
    <h3>Se kommende events her og lad dig inspirere.</h3>
    <div class="sti"></div>
</section>
<section class="juni">
    <h2>Juni - 2024</h2>
    <div class="artister">
        <EventCard></EventCard>
        <EventCard></EventCard>
        <EventCard></EventCard>
    </div>
</section>
<section class="juli">
    <h2>Juli - 2024</h2>
    <div class="artister">
        <EventCard></EventCard>
        <EventCard></EventCard>
    </div>
</section>
<section class="august">
    <h2>August - 2024</h2>
    <div class="artister">
        <EventCard></EventCard>
        <EventCard></EventCard>
        <EventCard></EventCard>
    </div>
</section>