---
import MainLayout from "../layouts/MainLayout.astro";
import EventCard from "../components/EventCard.astro";
import TestimonialsStar from "../components/TestimonialsStar.astro";
---

<MainLayout title="Forside">
<section class="hero"></section>
<section class="cta">
	<div class="events">
		<h2></h2>
		<p></p>
		<button></button>
	</div>
	<div class="booking">
		<h2></h2>
		<p></p>
		<button></button>
	</div>
</section>
<section class="kommende_events">
	<h2></h2>
	<article class="cards">
		<EventCard></EventCard>
		<EventCard></EventCard>
		<EventCard></EventCard>
	</article>
</section>
<section class="andre_siger">
	<h2></h2>
	<article class="testimonials">
		<div class="testimonial">
			<TestimonialsStar></TestimonialsStar>
		</div>
		<div class="testimonial2">
			<TestimonialsStar></TestimonialsStar>
			<TestimonialsStar></TestimonialsStar>
		</div>
		<div class="testimonial">
			<TestimonialsStar></TestimonialsStar>
		</div>
	</article>
</section>
</MainLayout>