---
import MainLayout from "../layouts/MainLayout.astro";
import KontaktFormular from "../components/KontaktFormular.astro";
---
<MainLayout title="Kontakt">
<section class="kontakt">
    <article>
    <h1>Kontakt</h1>
    <KontaktFormular></KontaktFormular>
    </article>
</section>
</MainLayout>

<style>

  h1 {
    padding-bottom: 74px;		
    padding-inline: var(--gap11);
  }

	section {
		padding-block: 74px;
	}
</style>