---
import MainLayout from "../layouts/MainLayout.astro";
import KontaktFormular from "../components/KontaktFormular.astro";
---
<section class="kontakt">
    <h1></h1>
    <KontaktFormular></KontaktFormular>
</section>