---
import MainLayout from "../layouts/MainLayout.astro";
import KontaktFormular from "../components/KontaktFormular.astro";
---
<MainLayout title="Kontakt">
<section class="kontakt">
    <article>
    <h1>Kontakt</h1>
    <KontaktFormular></KontaktFormular>
    </article>
</section>
</MainLayout>

<script>
	import { gsap } from "gsap";
    
	import { ScrollTrigger } from "gsap/ScrollTrigger";

  //Web + iPad
  // create
  let mm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  mm.add("(min-width: 431px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);
	
	gsap.from(".kontakt", {
	scrollTrigger: {
		scrub: true,
		trigger: ".kontakt",
		start: "-300 start",
		end: "500 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

});

  //iPhone
  // create
  let sm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  sm.add("(max-width: 430px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);
	
	gsap.from(".kontakt", {
	scrollTrigger: {
		scrub: true,
		trigger: ".kontakt",
		start: "-200 start",
		end: "600 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 
});
</script>

<style>

  h1 {
    padding-bottom: 74px;		
    padding-inline: var(--gap11);
  }

	section {
		padding-block: 74px;
	}

  @media (max-width:1024px) {
    h1 {
    padding-bottom: 0px;		
    padding-inline: var(--gap6);
  }
  }

  @media (max-width:430px) {
    h1 {		
    padding-inline: var(--gap4);
  }
  }
</style>