---
import MainLayout from "../layouts/MainLayout.astro";
import TidligereCard from "../components/TidligereCard.astro";
---
<section class="intro">
    <h1>Tidligere events</h1>
    <h3>Se tidligere events og skab dig et overblik over vores events.</h3>
    <div class="sti"></div>
</section>
<section class="tidligere">
    <h2>Året 2023</h2>
    <div class="artister">
        <TidligereCard></TidligereCard>
        <TidligereCard></TidligereCard>
        <TidligereCard></TidligereCard>
        <TidligereCard></TidligereCard>
        <TidligereCard></TidligereCard>
    </div>
</section>