---
//Lav variablen "url" med vores URL fra supabase
const url = "https://muqgfdguddfkghqhbdai.supabase.co/rest/v1/kanonproduktion_tidligere?";

//Lav variablen "api" med vores api nøgle
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cWdmZGd1ZGRma2docWhiZGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3NTI1MjcsImV4cCI6MjAzMDMyODUyN30.V1cmTeBITytZYDHSYEemvpkdSObU40QtSWsIqANjXBY";

//Lav variablen "data" som venter på url fetchet med GET metode
//API nøgle godkener adgang
const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());
//Dataen bliver hentet som JSON-fil

import MainLayout from "../layouts/MainLayout.astro";
import TidligereCard from "../components/TidligereCard.astro";
import Sti from "../components/Sti.astro";
---
<MainLayout title="Tidligere events">
    <section class="intro">
        <article>
            <div class="text">
                <h1>Tidligere events</h1>
                <h3>Se tidligere events og skab dig et overblik over vores events.</h3>
            </div>
            <div class="sti">
                <div class="kommende">
                    <a href="/events">Kommende events</a>
                </div>
                <div class="tidligere">
                    <a href="/tidligere">Tidligere events</a>
                </div>
                <div class="artister">
                    <a href="/artister">Artister</a>
                </div>
            </div>
        </article>
    </section>
   <section class="animeret">
        <div id="animated-text-strip">
            <span class="marquee">Året 2023 <span class="circle"></span> Året 2023 <span class="circle"></span> Året 2023 <span class="circle"></span> Året 2023 <span class="circle"></span>&nbsp;</span>
            <span class="marquee">Året 2023 <span class="circle"></span> Året 2023 <span class="circle"></span> Året 2023 <span class="circle"></span> Året 2023 <span class="circle"></span>&nbsp;</span>
            <span class="marquee">Året 2023 <span class="circle"></span> Året 2023 <span class="circle"></span> Året 2023 <span class="circle"></span> Året 2023 <span class="circle"></span>&nbsp;</span>
          </div>
        </section>
          <section class="tidligere">
        <article>
            <div class="artister">
                {data.map((person) => 
                    <TidligereCard 
                        image={`/img/${person.image}`} 
                        name={person.name} 
                        date={person.date} 
                        type={person.type} 
                        />
                    )}
            </div>
        </article>
    </section>
</MainLayout>

<style>

article {
        padding-inline: var(--gap11);
    }

    .animeret{
        padding-block: 0px;
    }

    section {
        padding-block: 74px;
    }
        a {
        font-size: var(--Label-large);
        font-weight: 900;
        color: var(--color-text-body);
        outline-style: solid;
        outline-color: var(--color-background-stroke);
        outline-width: 2px;

        display: flex;
        padding: var(--gap3) var(--gap2);
        justify-content: center;
        align-items: center;
    }

    a:hover {
        color: var(--color-background-button-hover);
        background-color: var(--color-background-stroke);
        outline-style: solid;
        outline-color: var(--color-background-stroke);
        outline-width: 2px;
    }
    
    .sti{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--gap3);
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 24px;

        padding-bottom: var(--gap7);
    }

    .text h3 {
        font-size: 27.64px;
        font-weight: 400;
    }

    .tidligere a {
        background-color: var(--color-background-button-secondary);
        outline-style: solid;
        outline-color: var(--color-background-button-secondary-stroke);
        outline-width: 2px;
        color: var(--color-background-button-hover);
    }

    .tidligere a:hover {
        background-color: var(--color-button-primary);
        color: var(--color-background-button-secondary);
        outline-style: solid;
        outline-color: var(--color-background-button-secondary);
        outline-width: 2px;
    }

    .artister {
		display: flex;
        flex-wrap: wrap;
		column-gap: var(--gap6);
        row-gap: var(--gap7);
		justify-content: flex-start;
	}

    #animated-text-strip{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        overflow: hidden;

        padding-block: var(--gap7);
		border-top: 2px solid var(--color-background-stroke);
		border-bottom: 2px solid var(--color-background-stroke);
    }

    #animated-text-strip .marquee {
        white-space: nowrap;
        animation: marquee 10s linear infinite;
        max-width: none;
    }

    @keyframes marquee {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-100%, 0);
        }
    }

    #animated-text-strip-reverse{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        overflow: hidden;

        padding-block: var(--gap7);
		border-top: 2px solid var(--color-background-stroke);
		border-bottom: 2px solid var(--color-background-stroke);
    }

    #animated-text-strip-reverse .marquee {
        white-space: nowrap;
        animation: other 10s linear infinite;
        max-width: none;
    }

    @keyframes other {
        0% {
            transform: translate(-100%, 0);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    .marquee {
        font-family: "Inter", sans-serif;
        font-size: var(--Headline2-large);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
    }

    .circle {
        display: inline-flex;
        width: var(--gap4);
        height: var(--gap4);
        border-radius: 50%;
        background-color: var(--color-background-stroke);
        margin-bottom: 5px;
    }

    @media (min-width: 1513px){
        .artister {
            column-gap: var(--gap11);
        }
}

    @media (max-width: 1450px){
        .artister {
            column-gap: var(--gap11);
        }
}

    @media (max-width: 1024px) {
        article {
            padding-inline: var(--gap6);
        }
        .artister{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
}

    @media (max-width: 430px) {
        a {
            font-size: var(--Label-small);
        }
        article {
            padding-inline: var(--gap4);
        }
        .artister {
            column-gap: var(--gap3);
        }
        .text h3 {
        font-size: 13.33px;
    }
}
</style>