---
const { variant, link, size } = Astro.props;
---

<a id={size} class={variant} href={link}><slot /></a>

<style>

  a {
    color: var(--color-button-primary);
    text-transform: uppercase;
  }

  #lg {
    display: flex;
    padding: var(--spacing-vertical-button-lg) var(--spacing-horizontal-button-lg);
    justify-content: center;
    align-items: center;
    font-size: var(--Button-large);

    width: 205px;
  }  

  #me {
    display: flex;
    padding: var(--spacing-vertical-button-me) var(--spacing-horizontal-button-me);
    justify-content: center;
    align-items: center; 
    font-size: var(--Button-medium);
  }

  #sm {
    display: flex;
    padding: var(--spacing-vertical-button-sm) var(--spacing-horizontal-button-sm);
    justify-content: center;
    align-items: center;
    font-size: var(--Button-small);

    width: 160px;
  }

  #xs {
    display: flex;
    padding: 0.4125rem 0.825rem;
    justify-content: center;
    align-items: center;
    font-size: 0.792rem;
    font-weight: 700;

    width: 99px;
  }
  
  
  .primary{
    background-color: var(--color-background-button-primary);
    color: var(--color-button-primary);
  }

  .primary:hover {
    background-color: var(--color-background-body);
    outline-style: solid;
    outline-color: var(--color-background-button-primary-stroke);
    outline-width: 2px;
    color: var(--color-button-primary-hover);
  }

  .primary a:hover {
    color: var(--color-button-primary-hover);
  }

  .secondary{
    background-color: var(--color-background-button-secondary);
    color: var(--color-button-primary);
  }

  .secondary:hover {
    background-color: var(--color-background-body);
    outline-style: solid;
    outline-color: var(--color-background-button-secondary-stroke);
    outline-width: 2px;
    color: var(--color-button-secondary-hover);
  }

  .secondary a:hover {
    color: var(--color-button-secondary-hover);
  }
  .tertiary{
    background-color: var(--color-background-button-tertiary);
    color: var(--color-button-primary);
  }

  .tertiary:hover {
    background-color: var(--color-background-body);
    outline-style: solid;
    outline-color: var(--color-background-button-tertiary-stroke);
    outline-width: 2px;
    color: var(--color-button-tertiary-hover);
  }

  .tertiary a:hover {
    color: var(--color-button-tertiary-hover);
  }

</style>