---
import Button from "../components/Button.astro";
import Logo from "../components/Logo.astro";
import SocialIcon from "./SocialIcon.astro";
---

<footer>
    <div class="footer">
    <div class="col_1">
       <img src="/lille_logo.svg" alt="kanonproduktion logo">
    </div>

    <div class="col_2">
        <h4>Kontakt</h4>
        <a href="mailto:info@kanonproduktion.dk">info@kanonproduktion.dk</a>
        <p>+45 40793435</p>
        <p>Kanonproduktion.aps</p>
        <p>CVR: 26905486</p>
    </div>
    <div class="col_3">
        <h4>Generelt</h4>
       <a href="#">Om os</a>
       <a href="#">Kontakt</a>
       <a href="#">FAQ</a>
       <a href="#">Program</a>
    </div>

    <div class="col_4">
      <h4>Skal vi planlægge dit event?</h4>
      <br/>
      <Button size="sm" link="/kontakt" variant="primary">Kontakt</Button>
    </div>

    <!-- <div class="col_4">
        <h4>Modtag de seneste nyheder</h4>
        <form>
            <input type="email" placeholder=" info@kanonproduktion.dk" required />
            <br />
          
            <Button size="sm" link="/" variant="primary">Tilmeld</Button>
     
          </form>
    </div> -->
</div>
    <div class="social">
<SocialIcon>
    </div>
    <div class="designed">
        <p>Copyright © 2024 Kanonproduktion</p>
        <p>Web design by RESI</p>
    </div>
</footer>

<style>
     footer {
    width: 100%;
    background-color: var(--color-background-footer);
    padding: 5rem 0rem;
    gap: var(--gap13);
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-top: var(--color-background-stroke) solid 1px; 

  }

  h4 {
    color: var(--color-text-footer);
    font-size: var(--Headline4-large);
    text-transform: uppercase;

  }

  p{
    color: var(--color-text-footer);
    font-size: var( --Body-large);
    text-decoration: none;
    padding-top: 3%;
  }

  a{
    color: var(--color-text-footer);
    font-size: var( --Body-large);
    text-decoration: none;
    font-weight: 450;
    padding-top: 3%;
    text-transform: none;
  }

  a:hover {
      border-bottom: 2px solid var(--color-text-nav-stroke-hover);
    }

 .social{
border-top: var(--color-background-stroke) solid 1px; 
margin-top: 4rem;
padding-top: 2rem;

 }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    padding-bottom: 5%;
    padding: 1rem 5rem;
    gap: 5rem;
   
}


  .designed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
 
   
 
  }

  .designed p{
    font-size: 0.75rem;
    font-weight: 300;
    padding-top: 2%;
  }

  /* .footer div {
    text-align: center;
  } */
 
  .col_1 {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100%;
    height: auto;
    min-width: 7px;
    max-width: 160px;
    padding-left: 5%;
  }

  .col_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .col_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .col_4 {
    display: flex;
    flex-direction: column;
  }

  .col_4 form input {
    border: 2px solid #51473d;
    background-color: transparent;
    width: 70%;
    height: 50%;

    margin-block: 30px;
  }

  @media (max-width: 1024px) {
      .footer {
padding: var(--gap-sm);
justify-content: center;
align-items: center;
margin-inline:auto;

grid-template-columns: 1fr 1fr;
     
      }

  

      .col_1 {
        grid-column: span 2;
        margin-inline:auto;
      }

      .col_2 p{
        font-size: var(--Body-medium);
      }
      .col_2 a {
        font-size: var(--Body-medium);
      }

      .col_2 h4{
        font-size: var(--Headline4-medium);
      }
      .col_3 p {
        font-size: var(--Body-medium);
      }

      .col_3 a {
        font-size: var(--Body-medium);
      }

      .col_3 h4{
        font-size: var(--Headline4-medium);
      }

      .col_4 {
        grid-column: span 2;

      }

      .col_4 form input {
    border: 2px solid #51473d;
    background-color: transparent;
    width: 12rem;
    height: 2rem;

    }

    .designed{
        margin-top: 0px;
    }
}
  @media (max-width: 430px) {
      .footer {
padding: 0rem 1.5625rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5rem;
 display: grid;
grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr 1fr;
      }

      

      .col_1 {
        grid-column: span 2;
        margin-inline:auto;
      }

      .col_2 p{
        font-size: var(--Body-small);
      }
      .col_2 a {
        font-size: var(--Body-small);
      }

      .col_2 h4{
        font-size: var(--Headline4-small);
      }
      .col_3 p {
        font-size: var(--Body-small);
      }

      .col_3 a {
        font-size: var(--Body-small);
      }

      .col_3 h4{
        font-size: var(--Headline4-small);
      }

      .col_4 {
        grid-column: span 2;
      }

      .col_4 form input {
    border: 2px solid #51473d;
    background-color: transparent;
    width: 12rem;
    height: 2rem;
    }

    .designed{
        margin-top: 0px;
    }
}

</style>