---
import Logo from "./Logo.astro";
---
<header class="banner">
    <div class="logo">
      <Logo />
    </div>
    <nav class="menu">
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </nav>
  </header>
  
  <script src="../scripts/burger.js"></script>
  