<article class="social-links">
    <a href="#" aria-label="Følg link til Facebook"> <i class="fa-brands fa-facebook"></i></a>
    <a class="ig" href="#" aria-label="Følg link til instagram"><i class="fa-brands fa-instagram"></i></a>

</article>

<style>
       .social-links i {
      font-size: var(--Headline3-large);
      margin-inline: 0.5%;
      
    }
.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap4);
}
    .social-links a {
      color: var(--color-icon-some);
    }

    .social-links a:hover{
        color: var(--color-icon-some-hover);
    }


</style>