<section class="sti">
    <div class="kommende">
        <a>Kommende events</a>
    </div>
    <div class="tidligere">
        <a>Tidligere events</a>
    </div>
    <div class="artister">
        <a>Artister</a>
    </div>
</section>

<style>

    a {
        font-size: var(--Label-large);
        font-weight: 900;
        color: var(--color-text-body);
        outline-style: solid;
        outline-color: var(--color-background-stroke);
        outline-width: 2px;

        display: flex;
        padding: var(--gap3) var(--gap2);
        justify-content: center;
        align-items: center;
    }
    
    .sti{
        display: flex;
        flex-direction: row;
        gap: var(--gap3);
    }
</style>
