<section class="sti">
    <div class="kommende">
        <p>Kommende events</p>
    </div>
    <div class="tidligere">
        <p>Tidligere events</p>
    </div>
    <div class="artister">
        <p>Artister</p>
    </div>
</section>

<style>

.sti{
    display: flex;
    flex-direction: row;
}
</style>
