<article>
   <div class="stars">
    <img src="/img/star_1.svg" alt="">
    <img src="/img/star_1.svg" alt="">
    <img src="/img/star_1.svg" alt="">
    <img src="/img/star_1.svg" alt="">
    <img src="/img/star_1.svg" alt="">
</div>
<p><slot /></p>
</article>

<style>
    .stars{
        display: flex;
        flex-direction: row;
    align-items: center;
    margin-inline: auto;
    }

    p{
        text-align: center;
    }
</style>