---
//Props er en stedholder for vores ting fra databasen
const { image, name, date, type } = Astro.props;

import Button from "./Button.astro";
---

<article>
    <div class="hvem">
        <div class="kunstner">
            <div class="billede">
                <img src={image} alt="billede af artisten">
            </div>
            <h3>{name}</h3>
        </div>   
    </div>
        <div class="information">
            <div class="type">
                <p>{type}</p>
            </div>
            <div class="place">
                <p class="dato">{date}</p>
            </div>
        </div>    
</article>

<style>
article{
        width: 22.5rem;
        height: 27rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        transition: 0.3s;

        border: 2px solid var(--color-background-stroke);
        background-color: var(--color-background-body);
    }

    .kunstner {
        width: 20rem;
        height: 20rem;
    }

    .hvem {
        position: relative;
        height: 23rem;
    }

    .kunstner h3 {
        display: flex;
        width: 16.5625rem;
        height: var(--gap11);
        padding: var(--gap1) var(--gap11) var(--gap1) var(--gap2);
        align-items: center;
        gap: var(--gap2);

        text-transform: none;
        background-color: var(--color-background-button-secondary);
        color: var(--color-button-primary);

        position: absolute;
        bottom: 0px;
        left: -5px;
    }


    .type p {
        display: inline-flex;
        padding: 0.284rem;
        align-items: center;
        text-transform: uppercase;

        background-color: var(--color-text-body);
        color: var(--color-button-primary);
        font-size: var(--Label-large);
        font-weight: 900;
        font-size: 0.83313rem;
    }

    .place p {
        font-size: 1.13475rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    .information {
        width: 20.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

  

    @media (max-width: 430px){
        article{
            width: 11rem;
height: 12rem;
    }

    .hvem{
        height: 10rem;
    }

    .kunstner {
 width: 8.9375rem;
height: 8rem;
padding-top: 0.4rem;
       
    }

    .kunstner h3 {
        width: 10rem;
        height: 2.2rem;
        left: -10px;
        bottom: 0px; 
    }

    h3{
        font-size: 0.8rem;
    }
    .type p {
        font-size: 0.5rem;
        left: 0px;
        margin-bottom: 0.2rem;

    }

    .place p {
        font-size: 0.8rem;
       margin-bottom: 0.2rem;
    
    }

    .information {
        width: 10rem;
        gap: 1.33713rem;
    }

    .price {
        width: 4.86113rem;
        padding: 0.34725rem;
        gap: 1.31944rem;
    }

    .large {
        display: none;
    }

    .small {
        display: flex;
        justify-content: center;
    }

    .knap {
        gap: 1.125rem;
        width: auto;
        padding: 0.625rem;
    }

    }
</style>