---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/style.css";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Kanonproduktion arrangerer og promoverer koncerter, talk's og stand-up events hvert år med et forskelligt udvalg af danske artister." />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/2efe57052b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/zji8afw.css" />
    <title>{title}</title>
  </head>

  <body data-title={title}>
    <Header title={title} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    background-color: var(--color-background-body);
  }
</style>